.profile-pic{
	max-width: 100%; max-height: 100%;
}
.card-footer{
	;
}

.card-block{
	color:purple; background-color: ;
}
.card-block-in-black{
	color:darkblue; text-align: center;
}
.custom-nav{
	background-color: #c9c6f2; 
}
body{
	background-color: #f1d9f4;
}
